body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: #4dc9a1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #2a906f;
}
